<ion-header>
  <ion-navbar color="header">
    <ion-title style="align-content:center">Book Codes</ion-title>
        <ion-buttons end>
          <button style="background-color: #0277bd">
            <ion-icon  style="color:white; font-size: 25px;" name="md-log-out" tabtitle="LogOut" (click)="this.logOut();"></ion-icon>
          </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="home" padding>
  <ion-item>
    <ion-searchbar
      [showCancelButton]="true"
      (ionInput)="FilterBookDB($event)"
      (ionCancel)="searchTransDB()">
    </ion-searchbar>
  </ion-item>

  <ion-list>
      <ion-item *ngFor="let book of books | search: null:CodeSearch">
          <h2>{{book.Code}}</h2>
          <button ion-button color="danger" (click)="markReturn(book.TransactionId)" icon-start *ngIf="book.Status != 2 ">
            <ion-icon name="refresh"></ion-icon>
            Return Book
          </button>
          <p *ngIf="book.Status != 2" style="color:green;">{{book.RenterName}} </p>
          <button ion-button color="primary" (click)="checkout(book)" icon-start *ngIf="book.Status == 2 ">
          <ion-icon name="cart"></ion-icon>
          Check out
        </button>
          <p class="item-description">{{book.Description}}</p>
      </ion-item>
  </ion-list>
</ion-content>
