<app-header [title]="'Book Information'"></app-header>
<ion-content class="home" padding>
  <div *ngIf="book" class="selection">
      <ion-item text-wrap>
          <img src="{{this.book.PictureLink}}"/>
          <h1>{{this.book.description}}</h1>
          <p>{{this.book.LanguageDesc}}</p>
      </ion-item>
      <ion-item *ngIf="this.author">
        <ion-icon name="document" item-left class="wrap"></ion-icon>
        <p class="item-description">{{this.author}}</p>
      </ion-item>
      <ion-item text-wrap>
        <ion-icon name="bookmark" item-left></ion-icon>
        <p>{{this.title}}</p>
        <p>{{this.subtitle}}</p>
      </ion-item>
      <ion-item text-wrap>
        <ion-icon name="information" item-left></ion-icon>
        <p>{{this.description}}</p>
      </ion-item>
      <ion-item text-wrap>
        <ion-icon name="History" item-left></ion-icon>
        <p>This book was read by {{this.ReadCountHistory}} folks till today.</p>
      </ion-item>
    </div>
</ion-content>