<ion-header>
        <ion-toolbar color="head">
            <ion-buttons slot="start">
              <ion-button (click)=this.goBack();>
                <ion-icon slot="icon-only" name="backspace"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title class="primary" style="text-align: center;">{{title}}</ion-title>
            <ion-buttons slot="primary">
              <ion-button (click)=this.logOut();>
                <ion-icon slot="icon-only" name="log-out" ></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
      </ion-header>