<app-header title="Statistics"></app-header>
<ion-content>
    <ion-card>
  <canvas #doughnutCanvas height="80vh" width="80vw"></canvas>
  </ion-card>
<ion-card>
  <p *ngIf="choice == 'weekly'" style="align-content: center"> 
    <ion-list-header>
      Weekly statistics for 2 months
      <p (click)="randomize('monthly')"> Monthly</p>
    </ion-list-header>
  </p>
  <p *ngIf="choice == 'monthly'"> 
    <ion-list-header>
      Monthly statistics <p (click)="randomize('weekly')">Weekly</p>
    </ion-list-header>    
  </p>
  <canvas #barCanvas height="25vh" width="80vw" style="background-color: beige"></canvas>
</ion-card>
  <ion-list>
      <ion-list-header *ngIf="transactions.length > 0 ">
          Books Completed List
        </ion-list-header>
    <ion-item *ngFor="let tran of transactions">
      <ion-avatar slot="start" (click)="bookInfo(tran)" >
        <img src="{{tran.PictureLink}}">
      </ion-avatar>
      <ion-label>
      <h2>{{tran.Description}}</h2>
      <p>{{tran.BorrowerName}} {{tran.RentedDate | date: 'dd/MM/yyyy'}}</p>
      </ion-label>  
    </ion-item>
  </ion-list>
</ion-content>
