<app-header [title]="'Settings'"></app-header>
<ion-content>
  <ng-container *ngFor="let validation of  this.validationMessage">
    <div class="error-message">
      <ion-icon name="information-circle-outline"></ion-icon> {{ validation }}
    </div>
  </ng-container>
 



  <ion-list>
  
    <ion-item>
      <ion-label>Groups</ion-label>
      <ion-select multiple="true" placeholder="Select One" value="{{editedItem}}">
        <ion-select-option *ngFor="let group of groups" value="{{group.Id}}">{{group.GroupName}}</ion-select-option>
      </ion-select>
    </ion-item>
  
   
  
  </ion-list>
  <ion-list lines="none">
    <form [formGroup]="myForm">
      <ion-item *ngFor="let control of myForm.controls | keyvalue">
        <ion-input required type="text" [formControlName]="control.key" placeHolder="student name..."></ion-input>
        <ion-icon (click)="removeControl(control)" name="close-circle"></ion-icon>
      </ion-item>
    </form>
  </ion-list>
  <ion-button color="danger" (click)="addControl()">Add Student</ion-button>
</ion-content> 